page-home {
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
        height:8px;
    }
    .bground{
        background-color: #f2b632;
    }
    .item-md{
        background-color: transparent;
        height: 20px;
        width: 280px; 
        font-size: 13px;
        color: black;
        margin-left: 40px;
        padding-left: 0px;     
    }  
    .input-wrapper{
        height: 60px;       
    }
    .space{
        height:150px;
    }
    .button-clear-md-primary {
        border-color: #263238;
        color: #263238;
        background-color: #263238;
    }
    .button-clear-md:hover:not(.disable-hover) {
        background-color: #263244;
    }
    .button-clear-md-primary {
        border-color: #263238;
        color: white;
        background-color: #263238;
        margin-left: 40px;
        width: 280px;
        
        
    }
    .signinbtn{
        border-color: #BDBDBD;
        color: white;
        background-color: #677077;
        margin-left: 40px;
        width: 280px;
        
    }
    p{
        text-align: center;
        color:#2a2c43;
    }
    .button-clear-md-primary:hover:not(.disable-hover) {
        color: white;
        background-color: #2a2c30;
    }
    .text-input-md {
        margin-bottom: 0px;
        font-size: 16px;
        
        
    }
    .item-input ion-input, .item-input ion-textarea {
        
        margin-bottom: 17px;
    }
    .text-input-md::placeholder{
        color:#2a2c43;
    }
}